<form [formGroup]="updateUserForm" (ngSubmit)="submitForm(updateUserForm)">
    <div class="my-3 row">

        <div class="my-5 border rounded p-5 compnents">
            <div class="mb-3 row">
                <div class="col-6">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" formControlName="email" [value]="userDetailsArray?.email" class="form-control" id="inputEmail">
                    </div>
                </div>
                <div class="col-6">
                    <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" formControlName="username"  [value]="userDetailsArray?.username" class="form-control" id="inputUsername">
                    </div>
                </div>

            </div>


            <div class="mb-3 row">
                <div class="col-6">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="Password" [value]="userDetailsArray?.username"  readonly formControlName="password" class="form-control" id="inputPassword">
                    </div>
                </div>
                <div class="col-6">
                    <label for="inputPhone" class="col-sm-2 col-form-label">Phone</label>
                    <div class="col-sm-10">
                        <input type="text" [value]="userDetailsArray?.phone"  formControlName="phone" class="form-control" id="inputPhone">
                    </div>
                </div>

            </div>

            <div class="mb-3 row" formGroupName="name">
                <div class="col-6">
                    <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
                    <div class="col-sm-10">
                        <input type="text" [value]="userDetailsArray?.name.firstname"  formControlName="firstName" class="form-control" id="inputFirstName">
                    </div>
                </div>
                <div class="col-6">
                    <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
                    <div class="col-sm-10">
                        <input type="text" [value]="userDetailsArray?.name.lastname"  formControlName="lastName" class="form-control" id="inputLastName">
                    </div>
                </div>



            </div>

            <div formGroupName="address">
                <div class="mb-3 row" formGroupName="geolocation">
                    <div class="col-6">
                        <label for="inputLat" class="col-sm-2 col-form-label">Lat</label>
                        <div class="col-sm-10">
                            <input type="text" [value]="userDetailsArray?.address.geolocation.lat" formControlName="lat" class="form-control" id="inputLat">
                        </div>
                    </div>

                    <div class="col-6">
                        <label for="inputLong" class="col-sm-2 col-form-label">Long</label>
                        <div class="col-sm-10">
                            <input type="text" [value]="userDetailsArray?.address.geolocation.long" formControlName="long" class="form-control" id="inputLong">
                        </div>
                    </div>

                </div>



                <div class="mb-3 row">
                    <div class="col-6">
                        <label for="inputCity" class="col-sm-2 col-form-label">City</label>
                        <div class="col-sm-10">
                            <input type="text" [value]="userDetailsArray?.address.city"  formControlName="city" class="form-control" id="inputCity">
                        </div>
                    </div>

                    <div class="col-6">
                        <label for="inputStreet" class="col-sm-2 col-form-label">Street</label>
                        <div class="col-sm-10">
                            <input type="text" [value]="userDetailsArray?.address.street" formControlName="street" class="form-control" id="inputStreet">
                        </div>
                    </div>

                </div>


                <div class="mb-3 row">
                    <div class="col-6">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Number</label>
                        <div class="col-sm-10">
                            <input type="text" [value]="userDetailsArray?.address.number" formControlName="number" class="form-control" id="inputNumber">
                        </div>
                    </div>

                    <div class="col-6">
                        <label for="inputZipcode" class="col-sm-2 col-form-label">Zipcode</label>
                        <div class="col-sm-10">
                            <input type="text" [value]="userDetailsArray?.address.zipcode"formControlName="zipcode" class="form-control" id="inputZipcode">
                        </div>
                    </div>

                </div>
            </div>


            <br>
            <button type="submit" class="btn btn-secondary">Update</button>

        </div>

        <app-spinner *ngIf="loading"></app-spinner>
    
    </div>


</form>